body{
    font-family: 'Roboto', sans-serif;
}

.homeScreen{
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selections{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.selection{
    font-size: 4rem;
}

.round-result{
    margin-top: 10px;
}
.final{
    margin-top: 10px;
    font-weight: bold;
}